@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

.tema-contacto {
  @include mixins.flex(column, center, center);
}

.contenedor-formulario-contacto {
  text-align: center;
  font-family: variables.$poppins;
  background-color: #ff9900;
  padding: 20px;
  @include mixins.margins(0px, 400px, 30px, 400px);
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  input {
    padding: 6px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
}

.boton-enviar {
  padding: 6px;
  border: none;
  background-color: rgb(255, 102, 0);
  color: white;
  cursor: pointer;
}

.contenedor-formas-contacto {
  @include mixins.flex(row, center, center);
  flex-wrap: wrap;
  h2 {
    @include mixins.titulo-estilo-poppins(30px, variables.$naranja-gimnasio);
  }
}

.miestilo-card2 {
  font-family: variables.$poppins;
  color: white;
  border: 1px solid black;
  border-radius: 9px;
  @extend %background-animado;
  h5 {
    font-weight: 900;
  }
  .miestilo-btn {
    background-color: white;
    color: black;
    border: 1px solid variables.$naranja-gimnasio;
    transition: .5s;
    &:hover {
      padding: 10px;
    }
  }
}
