footer {
  background-color: rgba(0, 130, 217, 255);
  font-family: "Poppins", sans-serif;
  color: white;
}

.titulo-footer {
  font-weight: 700;
  font-size: 30px;
}

.texto-acomp-footer {
  font-weight: 200;
}

.titulo-footer-tipo2 {
  font-weight: 700;
  font-size: 23px;
  color: white;
}