@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

.tema-horarios {
  @include mixins.contenedor-text-general(flex, center, center, column);
}

.contenedor-horarios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "artistica artistica telas"
    "artistica artistica telas"
    "artistica artistica funcional";
  @extend %texto-general;
  text-align: center;
  padding: 20px;
  h3 {
    @include mixins.titulo-estilo-poppins(30px, variables.$naranja-gimnasio);
    font-weight: 1000;
  }
  .dias {
    font-weight: 700;
  }
}

.horarios-artistica {
  grid-area: artistica;
}

.horarios-telas {
  grid-area: telas;
}

.horarios-funcional {
  grid-area: funcional;
}

.horario-comun {
  background-color: #c3d4e2;
  color: rgba(49, 42, 93, 255);
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
  box-shadow: 6px 6px rgb(255, 123, 0);
}
