$naranja-gimnasio: rgb(255, 102, 0);
$azul-gimnasio: rgba(0, 123, 217, 1);
$violeta-gimnasio: #2a2754;
$poppins: "Poppins", sans-serif;
$jumbo: "Jumbo Sale Trial", sans-serif;
$margin-pcs: 0px 230px 0px 230px;
$transicion-promedio: .3s;