@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/jumbo-sale-trial");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.bg-custom {
  background-color: rgb(0, 123, 217);
}

.navbar-brand img {
  width: 120px;
  height: 120px;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  width: 100%;
}
.navbar-nav li {
  margin: 10px;
}
.navbar-nav li a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.2s;
  padding: 0;
}
.navbar-nav li a:hover {
  color: #2a2754;
  font-weight: 700;
}

.estilo-burguer {
  border: none;
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin: 10px;
}

.navbar-collapse {
  text-align: center;
}

.active {
  border-bottom: 2px solid #ff9900;
}

footer {
  background-color: rgb(0, 130, 217);
  font-family: "Poppins", sans-serif;
  color: white;
}

.titulo-footer {
  font-weight: 700;
  font-size: 30px;
}

.texto-acomp-footer {
  font-weight: 200;
}

.titulo-footer-tipo2 {
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.texto-botones-actividades {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  transform: 0.3s;
}

.contenedor-horarios-grid, .cont-actividades, .contenedor-texto-inicio p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.cont-titulo-info {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.imagen-superpuesta {
  position: relative;
  display: inline-block;
}

.alumna-vela {
  position: absolute;
  top: -20px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 10;
  width: 470px;
  transition: 0.3s;
}
.alumna-vela:hover {
  width: 490px;
  top: -40px;
}

.cont-titulo-info h1,
.cont-titulo-info h2 {
  font-family: "Jumbo Sale Trial", sans-serif;
  font-size: 90px;
  color: rgb(255, 102, 0);
  padding: 25px;
}

.cont-titulo-info p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: black;
  padding: 20px;
}

.imagen-inicio {
  margin: 10px;
  height: 380px;
  border-radius: 5%;
}

.contenedor-texto-inicio {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
}
.informacion-aparte {
  margin: 0px 230px 0px 230px;
}

.presentación {
  font-weight: 800;
  font-size: 40px;
  margin-top: 30px;
}

.nuestras-paginas {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 20px;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
}
.nuestras-paginas a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nuestras-paginas a:hover {
  color: rgb(140, 140, 218);
}

.extra-deco {
  font-weight: 800;
  font-size: 40px;
}

.muestra-actividades {
  text-align: center;
  padding: 20px;
}
.muestra-actividades a {
  background-color: #2a2754;
  padding: 12px;
  margin: 20px;
  transition: 0.3s;
}
.muestra-actividades a:hover {
  padding: 15px;
}
.muestra-actividades ul {
  list-style: none;
}
.muestra-actividades ul li {
  margin-bottom: 30px;
}

.contenedor-info-salas {
  background: linear-gradient(-45deg, #2a2754, rgb(255, 102, 0), rgb(0, 123, 217), #2a2754);
  background-size: 400% 400%; /*logra ese efecto movimiento (MDN web)*/
  animation: moverFondo 10s ease infinite;
  color: white;
  padding: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.contenedor-info-salas h2 {
  font-weight: 800;
  font-size: 60px;
}
.contenedor-info-salas p {
  margin-bottom: 10px;
  font-size: 20px;
}
.contenedor-info-salas h3 {
  font-weight: 700;
}

.carousel-comun {
  width: 80%;
  max-width: 600px;
  margin: auto;
  max-height: 600px;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-color: rgba(32, 0, 214, 0.6);
  border-radius: 50%;
  padding: 30px;
  width: 50px;
  height: 50px;
}

.estilos-letras h5 {
  font-weight: 800;
  font-size: 30px;
}

.contenedor-salas-general {
  margin-bottom: 20px;
}

.contenedor-ubicación {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}
.contenedor-ubicación h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.contenedor-ubicación p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0px 200px 0px 200px;
}
.contenedor-ubicación img {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.contenedor-ubicacion-botones {
  text-align: center;
  margin-bottom: 20px;
}
.contenedor-ubicacion-botones .boton-google-maps {
  margin-top: 30px;
  padding: 10px;
  background-color: rgba(145, 255, 0, 0.555);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: black;
  transition: 0.3s;
}

.actividades-tit {
  align-items: center;
}

.cont-actividades {
  padding: 20px;
  text-align: center;
}
.cont-actividades h3 {
  font-family: "Jumbo Sale Trial", sans-serif;
  font-size: 50px;
  margin-top: 10px;
  color: rgb(255, 102, 0);
}
.cont-actividades p {
  margin-top: 10px;
  margin: 0px 150px 0px 150px;
}

.actividad-comun {
  margin-bottom: 60px;
}

.tema-horarios {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.contenedor-horarios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "artistica artistica telas" "artistica artistica telas" "artistica artistica funcional";
  text-align: center;
  padding: 20px;
}
.contenedor-horarios-grid h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(255, 102, 0);
  font-weight: 1000;
}
.contenedor-horarios-grid .dias {
  font-weight: 700;
}

.horarios-artistica {
  grid-area: artistica;
}

.horarios-telas {
  grid-area: telas;
}

.horarios-funcional {
  grid-area: funcional;
}

.horario-comun {
  background-color: #c3d4e2;
  color: rgb(49, 42, 93);
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
  box-shadow: 6px 6px rgb(255, 123, 0);
}

.tema-noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-titulo-info p {
  margin: 0px 150px 0px 150px;
  text-align: center;
}

.contenedor-noticias {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.contenedor-noticias h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(255, 102, 0);
  font-weight: 1000;
}

.info-noticias {
  margin: 0px 150px 0px 150px;
}

.espaciado-noticias {
  margin-bottom: 30px;
}

.fechas {
  color: rgb(90, 90, 90);
}

.tema-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-formulario-contacto {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #ff9900;
  padding: 20px;
  margin: 0px 400px 30px 400px;
}
.contenedor-formulario-contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contenedor-formulario-contacto input {
  padding: 6px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.boton-enviar {
  padding: 6px;
  border: none;
  background-color: rgb(255, 102, 0);
  color: white;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .imagen-inicio {
    height: 290px;
  }
  .contenedor-horarios-grid h3 {
    font-size: 20px;
    font-weight: 800;
  }
  .contenedor-horarios-grid h4 {
    font-size: 16px;
  }
  .dias {
    font-size: 16px;
  }
  .horario-comun {
    font-size: 16px;
  }
}
@media (max-width: 1080px) {
  .imagen-inicio {
    height: 220px;
  }
  .alumna-vela {
    width: 370px;
  }
  .alumna-vela:hover {
    width: 370px;
  }
  .contenedor-formulario-contacto {
    margin: 0px 200px 30px 200px;
  }
}
@media (max-width: 920px) {
  .cont-titulo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nuestras-paginas {
    font-size: 18px;
    font-weight: 500;
  }
  .alumna-vela {
    left: 10%;
    top: -30%;
  }
  .alumna-vela:hover {
    left: 10%;
    top: -30%;
    width: 380px;
  }
  .informacion-aparte {
    margin: 0;
  }
  .contenedor-ubicación p {
    margin: 0;
  }
  .actividades-tit h2 {
    font-size: 80px;
  }
  .info-noticias {
    margin: 5px 50px 10px 50px;
  }
  .contenedor-formulario-contacto {
    margin: 0px 150px 30px 150px;
  }
  .tema-contacto h2 {
    font-size: 70px;
  }
}
@media (max-width: 555px) {
  .cont-titulo-info h1 {
    font-size: 60px;
  }
  .alumna-vela {
    left: 14%;
    width: 260px;
    top: -3%;
  }
  .alumna-vela:hover {
    left: 14%;
    top: -3%;
    width: 280px;
  }
  .extra-deco {
    font-size: 30px;
  }
  .actividades-tit h2 {
    font-size: 60px;
  }
  .cont-actividades p {
    margin: 10px 0px 0px 0px;
  }
  .cont-actividades img {
    width: 300px;
  }
  .tema-horarios h2 {
    font-size: 70px;
    padding: 10px;
  }
  .contenedor-horarios-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .horario-comun {
    width: 100%;
  }
  .cont-titulo-info h2 {
    font-size: 70px;
    padding: 5px;
  }
  .cont-titulo-info p {
    padding: 5px;
  }
  .contenedor-noticias {
    padding: 5px;
  }
  .espaciadonoticia h3 {
    font-size: 20px;
    margin: 0px 10px 10px 0px;
  }
  .espaciadonoticia img {
    width: 300px;
  }
  .tema-contacto h2 {
    font-size: 50px;
  }
  .contenedor-formulario-contacto {
    margin: 0px 60px 30px 60px;
  }
}
@media (max-width: 410px) {
  .imagen-inicio {
    height: 230px;
  }
  .actividades-tit h2 {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .imagen-inicio {
    height: 200px;
  }
  .alumna-vela {
    width: 230px;
  }
  .alumna-vela:hover {
    width: 240px;
  }
  .cont-titulo-info h1 {
    font-size: 48px;
  }
  .muestra-actividades a {
    margin: 0;
  }
  .actividad-comun img {
    width: 260px;
  }
  .tema-horarios h2 {
    font-size: 50px;
    padding: 10px;
  }
  .espaciadonoticia img {
    width: 260px;
  }
  .info-noticias {
    margin: 5px 20px 10px 20px;
  }
  .tema-contacto h2 {
    font-size: 45px;
  }
  .contenedor-formulario-contacto {
    margin: 0px 30px 30px 30px;
  }
}
@keyframes moverFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
