@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/jumbo-sale-trial");
* {
  margin: 0;
  padding: 0;
}

.bg-custom {
  background-color: rgba(0, 123, 217, 1);
}

.navbar-brand img {
  width: 120px;
  height: 120px;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  width: 100%;
}

.navbar-nav li {
  margin: 10px;
}

.navbar-nav li a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: .3s;
  padding: 0;
}

.navbar-nav li a:hover {
  color: rgb(201, 177, 161);
  font-weight: 700;
}

.active {
  border-bottom: 2px solid #ff9900;
}

.cont-titulo-info {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.imagen-inicio {
  border-radius: 5%;
}

.imagen-superpuesta {
  position: relative;
  display: inline-block;
}

.alumna-vela {
  position: absolute;
  top: -20px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 10;
  width: 470px;
  transition: .4s;
}

.alumna-vela:hover{
  width: 490px;
  top: -40px;
}

.cont-titulo-info h1,
.cont-titulo-info h2 {
  padding: 25px;
  font-family: "Jumbo Sale Trial", sans-serif;
  font-size: 90px;
  color: rgb(255, 102, 0);
}

.cont-titulo-info p {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.imagen-inicio {
  margin: 10px;
  height: 380px;
}

.contenedor-texto-inicio {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
  flex-direction: column;
}

.presentación {
  font-weight: 800;
  margin-top: 30px;
  font-size: 40px;
}

.muestra-actividades {
  text-align: center;
  padding: 20px;
}

.muestra-actividades ul {
  list-style: none;
}

.muestra-actividades ul li {
  margin-bottom: 30px;
}

.muestra-actividades a {
  background-color: #2a2754;
  padding: 12px;
  margin: 20px;
  transition: .3s;
}

.muestra-actividades a:hover {
  padding: 15px;
}

.texto-botones-actividades {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: rgb(1, 6, 58);
  font-weight: 600;
  color: white;
}

.informacion-aparte{
  margin-left: 300px;
  margin-right: 300px;
}

.contenedor-texto-inicio p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.botones-usos {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}

.boton1,
.boton2 {
  padding: 6px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 115, 0);
}

.boton1 a,
.boton2 a {
  text-decoration: none;
  color: black;
}

.contenedor-info-salas {
  margin-top: 20px;
  background-color: rgba(49, 42, 93, 255);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.contenedor-info-salas h2 {
  font-size: 30px;
}

.contenedor-info-salas p {
  margin-bottom: 10px;
}

.contenedor-sala-artistica p,
.contenedor-sala-telas p,
.contenedor-sala-funcional p {
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  background-color: rgba(0, 123, 217, 255);
  text-align: center;
  padding: 20px;
}

.contiene-li-opciones-footer,
.contiene-li-redes-footer {
  list-style: none;
}

.contiene-li-opciones-footer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.contenedor-redes {
  margin-top: 20px;
}

.contenedor-redes img {
  width: 22px;
  height: 22px;
}

/*Actividades*/
.cont-actividades {
  padding: 20px;
  text-align: center;
  font-family: "Poppins";
}

.cont-actividades h3 {
  font-size: 50px;
  margin-top: 10px;
  color: rgb(255, 102, 0);
}

.cont-actividades p {
  margin-left: 150px;
  margin-right: 150px;
}

.artistica,
.telas,
.funcional {
  margin-bottom: 60px;
}

/*Horarios*/
.contenedor-horarios {
  /*Cuando coder me permita, pongo un display flex jeje*/
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.contenedor-horarios h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  color: rgb(255, 102, 0);
}

.contenedor-horarios h4 {
  font-size: 20px;
  color: rgba(49, 42, 93, 255);
}

.contenedor-horarios ul {
  list-style: none;
}

.dias {
  font-weight: 700;
}

.horarios-artistica,
.horarios-telas,
.horarios-funcional {
  background-color: #c3d4e2;
  color: rgba(49, 42, 93, 255);
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: 6px 6px rgb(255, 123, 0);
}

/*Noticias*/

.cont-titulo-info p {
  margin-left: 150px;
  margin-right: 150px;
}

.contenedor-noticias {
  /*Cuando coder me permita, pongo un display flex jeje*/
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.contenedor-noticias h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  color: rgb(255, 102, 0);
}

.info-noticias {
  margin-left: 150px;
  margin-right: 150px;
}

.espaciadonoticia {
  margin-bottom: 30px;
}

.fechas {
  color: rgb(90, 90, 90);
}

/*Contactanos*/
.contenedor-formulario-contacto {
  text-align: center;
  /*acá pondría tremendo flex direction column*/
  font-family: "Poppins", sans-serif;
}

.boton-enviar {
  padding: 6px;
  border: none;
  background-color: rgb(255, 102, 0);
  margin-top: 10px;
}
